%tr
  = form_for([:admin, parent, image], :html => {:multiform => true}) do |f|
    %td
      = f.file_field :attachment
    %td
      = f.select :category, [["Vorschau", "preview"], ["Werbe", "promotional"]] 
    %td
      = f.text_field :description
    %td
      = f.submit "+" 