.row
  %h1
    = "#{@parent.name} - Preise"
.row
  = render :partial => 'admin/courses/sidebar', :locals => {course: @parent}
  .small-9.columns
    -# = link_to "Neuer Zeitslot", new_admin_course_timeframe_path, remote: true, class: 'button cta small'
    %table#courseTimeframe
      %thead
        %tr
          %th{:width => 100}
            Preis
          %th{:width => 300}
            Beschreibung
          %th{:width => 10}
            X
          
      %tbody
        = render @prices
        = render :partial => 'admin/prices/form', :locals => {:price => @parent.prices.new, :parent => @parent}


