.row
  .small-12.columns
    #booking
      %h1
        Buchen
      = form_for([course, booking]) do |f|
        .row
          .small-4.columns
            %h3
              Kontakt Details
            .row.collapse
              .small-5.columns
                = f.label :name, "Name: ", class: 'inline right'
              .small-7.columns
                = f.text_field :name
            .row.collapse
              .small-5.columns
                = f.label :email, "Email: ", class: 'inline right'
              .small-7.columns
                = f.email_field :email
            .row.collapse
              .small-5.columns
                = f.label :telephone, "Telefon: ", class: 'inline right'
              .small-7.columns
                = f.number_field :telephone
          .small-4.columns.details2
            %h3
              Buchungs Details
            .row.collapse
              .small-3.columns
                = f.label :persons, "Personen: ", class: 'inline right'
              .small-9.columns
                = f.number_field :persons, :value => "1"
            = f.fields_for :training do |builder|
              .row.collapse
                .small-3.columns
                  = builder.label :price_id, "Optionen: ", class: 'inline right'
                .small-9.columns
                  = builder.select :price, course.prices.map {|p| [p.display, p.id]}, {}, {:class => 'chzn-select'}
              - unless course.timeframes.empty?
                .row.collapse
                  .small-3.columns
                    = builder.label :timeframe_id, "Zeit: ", class: 'inline right'
                  .small-9.columns
                    = builder.select :timeframe, course.timeframes.map {|tf| [tf.to_de_s, tf.id]}, {}, {:class => 'chzn-select'}
              - if course.dates.empty?
                .row.collapse
                  .small-3.columns
                    = builder.label :date, "Datum: ", class: 'inline right'
                  .small-9.columns
                    = builder.text_field :date
              - else course.dates.empty?
                .row.collapse
                  .small-3.columns
                    = builder.label :course_date_id, "Termin: ", class: 'inline right'
                  .small-9.columns
                    = builder.select :course_date_id, course.dates.map {|d| [d.to_de_s, d.id]}, {}, {:class => 'chzn-select'}
          .small-4.columns
            %h3
              Anmerkungen
            .row.collapse
              .small-12.columns.small-centered
                = f.text_area :notes

        .row.submit-row
          .small-8.columns.small-offset-3
            = f.submit "Buchen", class: 'button cta medium', id: "submitBooking"

            
            
