.contain-to-grid.admin
  .nav.top-bar
    %ul.title-area
      %li.name
        = link_to "Dashboard", admin_dashboard_path
    %section.top-bar-section
      %ul.right
        %li
          = link_to "Buchungen", admin_bookings_path
        - if current_user.has_role?(:owner)    
          %li
            = link_to "Kurse", admin_courses_path
        %li
          = link_to "Nachrichten", "#"
        %li
          = link_to "Blog Posts", admin_posts_path